:root {
    --mid-size: 50px;

}

header {
    display: flex;
    flex-wrap: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 139, 148);
    color: black;
    margin: var(--mid-size);
}

.t {
    color: rgb(255, 255, 255)
}

h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.hero {
    margin: -50px var(--mid-size) 0px var(--mid-size);
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80);
}

main {
    margin:0px 400px;
}

.content {
    display: flex;
    padding: var(--mid-size);
    margin:0 auto;
}

section h2 {
    border-right: 5px solid black;
    font-size: 75px;
    text-align: end;
    display:flex
}

article, figure, div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex: 1;
    margin-left:5px;
}

.images {
padding: 5px;
}

article ul li {
    display: inline;
}